<!DOCTYPE html>
<html lang="en">

<head>
    <title>Authors WebPage</title>
    <meta charset="utf-8">
    <%- include("partials/style.ejs") %>
    <link rel="stylesheet" href="/public/css/authorDetails.css">
</head>

<body>
    <div class="container">
        <nav class="container navbar navbar-expand-sm navbar-light mt-5">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active ml-3">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link" href="/author">Authors</a>
                        </li>
                        <li class="nav-item  ml-3">
                            <a class="nav-link" href="/book">Books</a>
                        </li>
                    </ul>
                </div>
            </nav>
    </div>
    <div class="container">
        <div class="row">
                <div class="col-sm-12">
                    <img class="img-thumbnail" src=<%= author['imgLink'] %> alt=
                    "<%= author['name'].split('_').join(' ')%>" title="<%= author['name'].split('_').join(' ')%>">
                    <div class="contents">
                        <h1><%= author['name'].split('_').join(' ') %></h1>
                        <p><span>Born </span>: <%= author['born'] %>  </p>
                        <p><span>Died </span>: <%= author['died'] %></p>
                        <p><span>Occupation </span>: <%= author['occupation'] %></p>
                        <p><span>Books wrote: </span> 
                            <%= author['books'].join('  ,') %>
                        </p>
                        <p><span>Description </span>:</p>
                        <p class="text-justify"><%= author['description'] %></p>
                        <p>Click on the button to get complete details of <span><%= author['name'].split('_').join(' ') %>.</span</p>
                        <a href="<%=author['link']%>" target="_blank" class="btn btn-primary">More Details</a>
                    </div>
                </div>
        </div>
    </div>
</body>

</html>