<!DOCTYPE html>
<html lang="en">

<head>
    <title>Authors WebPage</title>
    <%- include("partials/style.ejs") %>
    <link rel="stylesheet" href="/public/css/author.css">
</head>

<body>
    <div class="container">
        <header class="container mt-5">
            <h1 class="text-center">Authors Section</h1>
        </header>
        <nav class="container navbar navbar-expand-sm navbar-light mt-5">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item active ml-3">
                        <a class="nav-link" href="/index">Home</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="/author">Authors</a>
                    </li>
                    <li class="nav-item  ml-3">
                        <a class="nav-link" href="/book">Books</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="btn btn-primary" style="color:inherit">Logout</a>  
                    </li>
                </ul>
            </div>
        </nav>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th >Author</th>
                </tr>
            </thead>
            <tbody>
                <% authorsData.forEach((author,index) =>{ %>
                    <tr>
                        <th scope="row">
                            <%= index+1 %>
                        </th>
                        <td>
                            <a class="btn" href=<%=`/author/${author['id']}` %>>
                                <%= author['name'].split('_').join(' ') %> </a>
                        </td>
                    </tr>
                <%  })%>
            </tbody>
        </table>
    </div>
</body>

</html>