<!DOCTYPE html>
<html lang="en">

<head>
    <title>Books detail page</title>
    <%- include("partials/style.ejs") %>
    <link rel="stylesheet" href="/public/css/bookDetails.css">
</head>

<body>
    <div class="container">
        <div class="container">
            <nav class="container navbar navbar-expand-sm navbar-light mt-5">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active ml-3">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link" href="/author">Authors</a>
                        </li>
                        <li class="nav-item  ml-3">
                            <a class="nav-link" href="/book">Books</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
                <div class="col-sm-12">
                    <img class="img-thumbnail" src=<%= book['imgLink'] %> alt= "<%= book['name'].split(' ').join('_') %>" title="<%= book['name'].split(' ').join('_')%>">
                    <div class="contents">
                        <h1><%= book['name'] %></h1>
                        <p><span>Written by: </span>
                        </p>
                        <p><span>Pages: </span> <%= book['paperback'] %>  </p>
                        <p><span>Published by :</span> <%= book['publisher'] %></p>
                        <p><span>ISBN: </span> <%= book['ISBN'] %></p>
                        <p><span>Ratings: </span><%= book['review'] %></p>
                        <p class="text-justify"><%= book['description'] %></p>
                        <p>Click on the button to get complete details of <span><%=book['name']%>.</span</p>
                        <a href="<%=book['link']%>" target="_blank" class="btn btn-primary">More Details</a>
                    </div>
                </div>
        </div>
        
    </div>
</body>

</html>