<!DOCTYPE html>
<html>

<head>
    <title>Books Section</title>
    <%- include("partials/style.ejs") %>
    <link rel="stylesheet" href="/public/css/book.css">
</head>

<body>
    <header class="container mt-5">
        <h1 class="text-center">Books Section</h1>
    </header>
    <nav class="navbar navbar-expand-sm navbar-light ml-sm-5">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-sm-5">
                <li class="nav-item active ml-3">
                    <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="/author">Author</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="/book">Books</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="btn btn-primary" style="color:inherit">Logout</a>  
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-around">
            <% booksData.forEach(book =>{ %>
                <div class="col-sm-5 mb-4">
                    <div class="card">
                        <% let name = book['name'].split(' ').join('_') %>
                        <img class="card-img-top img-thumbnail"src=<%= book['imgLink'] %> alt= <%=name %> >
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-center">
                                <%= name %>
                            </h5>
                            <p class=""><span class="font-weight-bold">Written By: </span>
                                <a href=<%=`/author/${book['authorId']}` %>><%=book['authorName']%></a>
                            </p>
                            <p class="font-weight-bold">Mini Description</p>
                            <p class="card-text">
                                <% name =name.split('_').join(' ')%>
                                <%=book['description'].slice(0,200)%>.</p>
                            <a class="btn btn-primary" href=<%=`/book/${book['ISBN']}` %>>More Details</a>
                        </div>
                    </div>
                </div>
            <% })%>
        </div>
    </div>
    </div>
</body>

</html>