<!DOCTYPE html>
<html lang="en">
    <head>
        <title>loggin out page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include("partials/style.ejs") %>
    </head>
    <body>
        <div class="container mt-5 text-justify d-flex justify-content-center">
           <div>
                <h1>User <%= name%> has logged out from central library</h1>
                <a href="/" class="btn">Go back to Login Page</a>
           </div>
        </div>
    </body>
</html>