<!DOCTYPE html>
<html>

<head>
    <title>Sign in Central Library Page</title>
    <%- include("partials/style.ejs") %>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Welcome to Central Library</h1>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-sm-5">
                <h3 class="cr font-weight-bolder mb-3">SignUp</h3>
                <form method="post" action="/signup">
                    <div class="form-group">
                        <label for="name">User Name</label>
                        <input type="name" class="form-control " id="name" name="name" value="" autofocus="" required="" placeholder="JhonDoe">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control " id="password" name="password" value=""  required >
                        <div class="invalid-feedback">
                            Password length should be a minimum of 8.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" class="form-control " id="confirm_password" name="confirm_password" value="" required>
                        <div class="invalid-feedback">
                            Please type the correct password.
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            SignUp
                        </button>
                    </div>
                    <div>
                        <p>Registered User<a href="/" class="btn">Login Here.</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/public/js/signup.js"> </script>
</body>

</html>