img{
    margin-top:10px;
    float:left;
    position: relative;
    top:20px;
    left:-20px;
  }
  .contents{
    margin-top:20px;
    margin-left:300px;
  }
  p span{
      font-weight: bolder;
  }