body,html{
    height:100%;
}
body{
    background-image:url("/public/images/library.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover; 
    background-attachment:fixed; 
    font-family: 'Courier New', Courier, monospace;
    color:#DDDDDD;
}
nav{
    position: relative;
    top:150px;
}
.logout{
    position: relative;
    top:150px;
}
@media only screen and (max-width: 576px) {
    nav{
        position: relative;
        top:50px;
    }
    .logout{
        position: relative;
        top:50px;
    }
}